Debug
Debug/
Release
Release/
*.ncb
*.suo
*.sdf
*.opensdf
.metadata
IcUpdateLog.htm
target
target-lo
target-zqm
target-gqm
Release*
Release*
Resharper*
ipch
*.ipch
ProtocolMessage.pb.*
*sln.DotSettings.user
*.suo
.vs/
